
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src={{artPiece.image}} class="max-w-sm rounded-lg shadow-2xl p-3" />
    <div class="p-3">
      <h1 class="text-5xl font-bold">{{artPiece.title}}</h1>
      <p class="py-6" style="font-family: 'Poppins', sans-serif;">{{artPiece.description}}</p>
      <p class="py-6" style="font-family: 'Poppins', sans-serif;">${{artPiece.price}}</p>
      {{#if artPiece.is_for_sale}}
      <button id="buy-btn" class="btn btn-accent">BUY NOW</button>
      {{else}}
      <button class="btn" disabled="disabled">NOT FOR SALE</button>
      {{/if}}
    </div>
  </div>
</div>

<script src="js/oneArt.js"></script>


