<div class="flex flex-row justify-between ">
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src={{artPiece.image}} alt="Art" /></figure>
        <div class="card-body">
            <h2 class="card-title">{{artPiece.name}}</h2>
            <div class="card-actions justify-end">
            </div>
        </div>
    </div>
    <div>
        <h2>{{{artPiece.collection.title}}}</h2>

        <p>{{artPiece.description}}</p>

        <h3>Price: ${{artPiece.price}}.00</h3>
    </div>
    <div>
        <button id="buy-btn" class="btn btn-accent">BUY NOW</button>
    </div>
</div>



{{!-- <h1>Other pieces you might like</h1> --}}

{{!-- <div id="addCarouselHere" class="m-4">

</div> --}}