{{!-- Hero image --}}
<div
  class="hero min-h-screen"
  style="background-image: url(/assets/2.png);"
>
</div>

{{!-- Filter options --}}
<div class="w-11/12 mx-auto mt-10 mb-3 flex flex-col sm:flex-row justify-around">
  
    <select class="sort-price select select-ghost w-full max-w-xs mb-2" style="border-color: #f73197;">
      <option style="background-color: black; color:white;" disabled selected>Sort By...</option>
      <option style="background-color: black; color:white;" >Lower to Higher</option>
      <option style="background-color: black; color:white;" >Higher to Lower</option>
    </select>
  
  
    <select class="filter-price select select-ghost w-full max-w-xs mb-2" style="border-color: #1183c1;">
      <option disabled selected>Filter</option>
      <option>$50-$200</option>
      <option>$200-$400</option>
      <option>$400-$800</option>
    </select>

  <div class="form-control w-full sm:w-1/3 mb-2">
    <div class="input-group">
      <input
        type="text"
        placeholder="Search…"
        class="input input-bordered w-3/4"
        style="background-color:black; border-color:#4e148c"
        id="search-text"
      />
      <button class="btn btn-secondary w-1/4" id="search-button" style="background-color:#4e148c; border-color:#4e148c">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          style="color: white;"
        ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path></svg>
      </button>
    </div>
  </div>

  <button class="btn btn-primary mb-2" id="reset-search" style="background-color:#1183c1; color:white; border-color:#1183c1">Reset Search</button>
</div>

<div
  class="w-full h-full flex flex-row flex-wrap justify-around"
  id="art-section"
>

{{!-- Generate cards dynamically --}}
  {{#each artPieces as |artPiece|}}
    <div class="card w-96 bg-base-100 shadow-xl m-3">
            <figure><img class="h-48" src={{artPiece.image}} alt="Art Piece" /></figure>
            <div class="card-body">
                <div class="w-full text-center">
                    <p class="text-3xl" style="color:#1183c1;">${{artPiece.price}}</p>
                    {{#if artPiece.is_for_sale}}
                    <p class="text-xl" style="color: #f73197;">Up for sale</p>
                    {{else}}
                    <p class="text-xl" style="color: #f73197;">Not up for sale</p>
                    {{/if}}
                </div>
                <h2 class="card-title" style="color: white;">{{artPiece.title}}</h2>
                <p style="color: #f73197;">{{artPiece.description}}</p>
                <p class="text-xl" style="color: white;">Owned By: {{artPiece.user.name}}</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-secondary edit-button" style="background-color: #4e148c; border-color: #4e148c; color:white" data-number={{artPiece.id}}>View</button>
                </div>
            </div>
        </div>
  {{/each}}
</div>
<script src="/js/homepage.js"></script>